{% extends "base.html" %}

{% load static %}
<!--==========| ==> Load Static Here <== |==========-->


{% block content %}
    <h1 class="text-3xl font-bold mb-4">My Projects</h1>
    <ul class="mb-8">
        {% for project in projects %}
        <li class="mb-2">
            <span class="font-semibold">{{ project.title }}</span> - <span>{{ project.technologies }}</span>
        </li>
        {% endfor %}
    </ul>

    <h1 class="text-3xl font-bold mb-4">My Skills</h1>
    <ul>
        {% for skill in skills %}
        <li class="mb-2">
            <span class="font-semibold">{{ skill.name }}</span> - <span>{{ skill.proficiency }}</span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
